.footer {
  background-color: #FFD0B6;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: -3px;
}

span {
  a {
    color: #291D38;
  }
}

.footerHeader {
  color: #291D38;
}

.footerDescription {
  font-weight: 500;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  color: #291D38;
  width: 600px;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 50px;

  @media only screen and (max-width: 800px) {
    font-size: 20px;
    width: 500px;
  }
  @media only screen and (max-width: 600px) {
    font-size: 18px;
    width: 90%;
  }
}

.footerContainer {
  width: 85vw;
  max-width: 1000px;
  margin: 0 auto;

  @media only screen and (max-width: 800px) {
    width: auto;
  }
}

.instalogo {
  margin: auto;
  // margin-right: 25px;
  // padding: 40px;
}

.momeloveLogo {
  width: 50px;
  margin: auto;
  // margin-left: 25px;
}

.footer-icons {
  display: inline-flex;
  margin: auto;
  align-items: center;

  img {
    width: 50%;
  }
}