.hubs-hero {
    width: 100vw;
    height: 500px;
    background: linear-gradient(186.64deg, #EA6767 -3.74%, #E47892 107.61%);
    position: relative;
    @media only screen and (max-width:700px){
        height: 430px;
    }   
}

.hubs-heroFade {
    width: 100vw;
    height: 350px;
    background-image: url('../assets/svg/hubsTransition.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    z-index: 15;
}

.hubs-hand {
    position: absolute;
    bottom: 0;
    width: 500px;
    transform: translate(-50%);
    left: 50%;
    z-index: 10;
    @media only screen and (max-width:700px){
        width: 350px;
    }   
}

.hubs {
    background-color: #A762B1;
    padding-top: 70px;
    h1 {
        text-align: center;
    }
    padding-bottom: 250px;
}

.hubs-description {
    margin: auto;
    margin-top: 30px;
    max-width: 800px;
    width: 92vw;
    text-align: center;
    color: #FFF4E3;
    p {
        &:first-child{
            padding-bottom: 30px;
        }
        font-family: 'Poppins', sans-serif !important;
        font-weight: 300;
        font-size: 18px;
    }
    padding-bottom: 70px;
    @media only screen and (max-width:900px){
        p {
            font-size: 16px;
        }
    }
    @media only screen and (max-width:600px){
        p {
            font-size: 15px;
        }
    }
}

.hubs-buttonContainer {
    margin: auto;
    display: flex;
    @media only screen and (max-width:900px){
        flex-direction: column;
    }
}

.hubs-Room {
    margin:auto;
    display: flex;
    flex-direction: column;
    .button {
        margin-top: 25px;
    }
    @media only screen and (max-width:900px){
        &:last-child {
            margin-top: 50px;
        }
    }
}


.hubs-RoomThumb {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;

    width: 500px;
    border-radius: 5px;
    border: 2px solid #7FACF4;
    @media only screen and (max-width:1150px){
        max-width: 400px;
        width: 90vw;
    }

}

.button {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 800;
    color: #FFF4E3;
    text-decoration: none;
    margin: auto;
    padding: 14px 20px;
    background: rgba(127, 172, 244, 0.16);
    border: 2px solid #7FACF4;
    box-shadow: 0px 0px 11px rgba(127, 172, 244, 0.25);
    border-radius: 10px;
    transition: .3s;
    &:hover {
        transform: scale(1.02);
        box-shadow: 0px 0px 11px rgba(127, 172, 244, 0.8);
        background: rgba(127, 172, 244, 0.301);

    }
}

.hubsFooterFade {
    width: 100%;
    height: 270px;
    background-image: url('../assets/svg/hubsFooterFade.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    @media only screen and (max-width:950px){
        height: 170px;
    }
    @media only screen and (max-width:600px){
        height: 130px;
    }
}