.liveMain {
    background: rgb(243,99,82);
    background: linear-gradient(180.01deg, #DB7863 39.58%, #FFD0B6 99.99%), #C4C4C4;
    height: 100vh;
    min-height: 800px;
    overflow-y: none;
    @media only screen and (max-width: 600px) {
        position: relative;
    }

    // @media only screen and (max-width: 800px) {
    //     height: 600px;
    // }
    // @media only screen and (min-width: 2000px) {
    //     height: 1000px;
    // }
}

.liveContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5s;
    width: 100%;
    h1 {
        font-size: 30px;
        padding-bottom: 20px;
    }
    margin-top: 150px;
    z-index: 100;
    @media only screen and (max-width: 800px) {
        margin-top: 0px;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
    }
    @media only screen and (max-width:600px){
        bottom: 20%;
    }
}



.liveBackground {
    position: absolute;
    width: 100vw;
    max-width: 100%;
    height: 100%;
    background-image: url('../assets/png/heroBackgroundUpdated.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: 10;
    // bottom: -1px;
}

.liveBackgroundFade {
    position: absolute;
    width: 100vw;
    max-width: 100%;
    height: 11vw;
    background-image: url('../assets/svg/heroFade.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    @media only screen and (max-width: 800px) {
        height: 200px;
    }
    z-index: 20;
    bottom: 0px;
}

.liveYoutube {
    border-radius: 5px;
    z-index: 100;
    @media only screen and (max-width: 900px) {
        width: 560px;
        height: 315px;
    }
    @media only screen and (max-width: 600px) {
        width: 400px;
        height: 225px;
    }
}

.sideLink {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: rgb(255, 244, 227);
    &:hover {
        font-weight: 600;
    }
}

.live-buttonContainer {
    margin: auto;
    display: flex;
    margin-top: 20px;
    max-width: 600px;
    width: 100vw;
    padding-bottom: 20px;
    .button {
        background-color: #435f9f;
        @media only screen and (max-width:600px){
            margin-bottom: 15px;
        }
    }
    @media only screen and (max-width:600px){
        flex-direction: column;
    }
}