.liveMain {
    background: rgb(243,99,82);
    background: linear-gradient(180.01deg, #DB7863 39.58%, #FFD0B6 99.99%), #C4C4C4;
    height: 100vh;
    position: relative;
    // @media only screen and (max-width: 800px) {
    //     height: 600px;
    // }
    // @media only screen and (min-width: 2000px) {
    //     height: 1000px;
    // }
}

.liveContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    width: 100%;
    @media only screen and (min-width: 1600px) {
        margin-top: 20px;
    }
    @media only screen and (max-width: 1200px) {
        margin-top: 100px;
    }
    @media only screen and (max-width: 1000px) {
        margin-top: 0px;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 40%;
    }
    @media only screen and (max-width: 800px) {
        top: 38%;
    }
}



.liveBackground {
    position: absolute;
    width: 100vw;
    max-width: 100%;
    height: 100%;
    background-image: url('../assets/png/heroBackgroundUpdated.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: 10;
    bottom: -1px;
}

.liveBackgroundFade {
    position: absolute;
    width: 100vw;
    max-width: 100%;
    height: 11vw;
    background-image: url('../assets/svg/heroFade.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    @media only screen and (max-width: 800px) {
        height: 200px;
    }
    // background: rgb(42,29,56);
    // background: linear-gradient(0deg, rgba(42,29,56,1) 5%, rgba(42,29,56,0) 100%);
    // background-size: cover;
    // background-position: bottom;
    z-index: 20;
    bottom: -2px;
}

.liveYoutube{
    z-index: 99999;
    max-width: 100%;
}

.iframe-container {
    overflow: hidden;
    position: relative;
  } 
  
  .iframe-container iframe {
    top: 0;
    left: 0;
    border: 0;
    width:  40%;
    height: 40%;

    @media only screen and (max-width:800px){
        width: 95%;
        height: auto;
    }
  }

// .iframeContainer {
//     position: relative;
//     width: 100%;
//     overflow: hidden;
//     padding-top: 56.25%; /* 16:9 Aspect Ratio */
//   }

// .responsive-iframe {
//     position: absolute;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     width: 30%;
//     height: 30%;
//     border: none;
//   }