nav {
    position: fixed;
    display: flex;
    z-index: 100;
    transform: translate(-50%);
    left: 50%;
    padding: 40px 0px;
    top: 30px;
    // width: 100vw; CHANGE BACK TO THIS WHEN MORE THAN 2 NAV ITEMS
    width: 140px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    transition: .2s;
    a {
        text-decoration: none;
        color: #FFF4E3;
        opacity: .6;
        transition: .3s;
    }
    a:hover {
        opacity: 1;
    }
    //CHANGE TO 'SPACE-BETWEEN' WHEN MORE THAN 2 NAV ITEMS
    justify-content: space-between;
}

.nav-right {
    display: flex;
    padding-inline-start: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    // margin-left: 30px;
}


.nav-active {
    opacity: 1;
}

.nav-show {
    opacity: 1;
}

.nav-hide {
    opacity: 0;
}