.process-hero {
    background-color: #364F8B;
    width: 100vw;
    height: 600px;
    position: relative;
}

.process-hand {
    position: absolute;
    bottom: 0;
    width: 250px;
    transform: translate(-50%);
    left: 50%;
    z-index: 10;
    @media only screen and (max-width:700px){
        width: 200px;
    }   
}

.process {
    background-color: #364F8B;
    h1 {
        text-align: center;
        font-size: 40px;
    }
    h2 {
        text-align: center;
        font-size: 30px;
        font-family: 'Philosopher', sans-serif;
        font-weight: 700;
        color: #FFF4E3;
    }
    .break-100 {
        width: 100%;
        height: 100px;
    }
    .break-50 {
        width: 100%;
        height: 50px;
    }
    p {
        margin: auto;
        font-family: 'Poppins', sans-serif !important;
        font-weight: 300;
        font-size: 18px;
        max-width: 700px;
        width: 90vw;
        text-align: center;
        color: #FFF4E3;
    }
    .grid-2 {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        img {
            width: 100%;
            max-height: 350px;
            border-radius: 5px;

        }
    }
    .grid-4 {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 20px;
        grid-row-gap: 20px;
        img {
            width: 100%;
            border-radius: 5px;
            border-radius: 5px;

        }
    }
    
    .grid-3 {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        img {
            width: 100%;
            border-radius: 5px;

        }
        @media only screen and (max-width:800px){
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .vimeo {
        width: 812px;
        height: 457px;
        margin: auto;
        display: flex;
        border-radius: 5px;
    }
    .mt-20 {
        margin-top: 20px !important;
    }
    .mt-40 {
        margin-top: 40px !important;
    }
    .mt-60 {
        margin-top: 60px !important;
    }
    .flex {
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    iframe {
        margin: auto;
        display: block;
        margin-top: 20px;
        border-radius: 5px;
        @media only screen and (max-width:800px){
            width: 400px;
            height: 225px;
        }
    }
    .flex-m {
        width: 90vw;
        max-width: 800px;
        @media only screen and (max-width:800px){
            flex-direction: column;
            .button {
                margin-bottom: 15px;
            }
        }
    }
    .container-large {
        width: 90vw;
        max-width: 1200px;
        margin: auto;
        @media only screen and (max-width:800px){
            width: calc(100% - 60px);
        }
    }
    .italics {
        font-style: italic;
    }
    .img-m {
        width: 600px;
        margin:auto;
        display: flex;
        border-radius: 5px;
        margin-top: 15px;
        @media only screen and (max-width:800px){
            width: 400px;
        }
        @media only screen and (max-width:500px){
            width: 300px;
        }
    }
    padding-bottom: 100px;
}

.sf {
    width: 380px;
    height: 214px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;
    margin: auto;
    transition: .3s;
    &:hover {
        cursor: pointer;
    }
    @media only screen and (max-width:1400px){
        width: 314px;
        height: 177px;
    }
    @media only screen and (max-width:1100px){
        width: 265px;
        height: 149px;
    }
    @media only screen and (max-width:930px){
        width: 229px;
        height: 120px;
    }
    @media only screen and (max-width:930px){
        width: 265px;
        height: 149px;
    }
    @media only screen and (max-width:620px){
        width: 177px;
        height: 100px;
    }
}

.sf1 {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    &:hover {
        opacity: 0;
    }
}

.hubs-cardContainer{
    width: 100%;
    margin-top: 20px;
    img {
        width: 100%;
        border-radius: 5px;
    }
    p {
        margin-top: 10px;
        width: 100%;
        font-size: 15px;
        @media only screen and (max-width:700px){
            font-size: 13px;
        }

    }
}

.bigPara {
    font-size: 16px !important;
    max-width: 800px !important;
    @media only screen and (max-width:900px){
        font-size: 14px !important;

    }

}




.processFooterFade {
    width: 100%;
    height: 320px;
    background-image: url('../assets/svg/processFooterFade.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    @media only screen and (max-width:950px){
        height: 170px;
    }
    @media only screen and (max-width:600px){
        height: 130px;
    }
}